/* CSS component */
.toolset-bs-componenet-check-button{
    text-align: center;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.toolset-bs-button-p{
    text-align: center;
}

.toolset-bs-components-dialog-sides{
    margin:0;
}
.toolset-bs-components-dialog-sides-left{
    float:left;
    width:25%;
    overflow:hidden;
}
.toolset-bs-components-dialog-sides-right{
    float:left;
    width:75%;
    overflow:hidden;
} 
.toolset-bs-components-dialog-sides-bottom{
    float:left;
    width:100%;
    overflow:hidden;
} 

span.toolset_qt_btn_group_labels {
    display: block;
    clear: both;
    font-size: 11px;
    font-weight: bold;
    color: #72777c;
    margin-left: 4px;
}


.mce-toolbar .mce-btn{
    overflow: hidden;
}
.mce-ico{
    text-align: initial !important;
}

.bs-quicktags-toolbar {
    padding: 3px;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5 !important;
    min-height: 30px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 0px;
}

.bs-quicktags-toolbar>ul {
    margin: 0;
    text-align: left;
}
.wpv-ct-inline-edit .bs-quicktags-toolbar{
    min-height: 135px !important;
}

/* icons adjust */
.bs-breadcrumbs-icon {
    margin-left: -40px;
}
.bs-breadcrumbs-button {
    width: 60px;
}
.bs-pagination-icon {
    margin-left: -34px;
}
.bs-pagination-button {
    width: 55px;
}
.bs-input_groups-icon {
    margin-left: -8px;
}
.bs-input_groups-button {
    width: 35px;
}
.bs-buttons-icon {
    margin-left: -15px;
}
.bs-buttons-button {
    width: 40px;
}

/* Popover */
.pop {
	background: #eee;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	position: absolute;
    right:0;
    margin-right: 10px;
    z-index: 99;
}

.pop_right_margin{
    margin-right: 20px;
}
.pop_right_margin_big{
    margin-right: 25px;
}
.pop_top_margin{
    margin-top: 20px;
}
.pop_close {
    display: block;
    text-align: right;
}
.pop_msg_p{
    margin: 0px;
}

.pop_hidden{
    display: none;
}
.pop_msg_p label{
    width: 100%;
    text-align: left !important;
    cursor: pointer;
    font-weight: normal;
}

.bs_button_glow_effect{
    box-shadow: rgb(246, 146, 30) 0px 0px 5px 1px !important;
}
.css-components-toggle-icon{color:#555d66; position: relative; bottom:2px;right:2px;}
.css-components-toggle-icon:before{}