{#
    Dialog for deleting a single field (definition + values).

    @since 2.0
#}

<div style="float: left; width: 145px;">
    <i class="fa fa-exclamation-triangle fa-5x" style="margin: 40px;"></i>
</div>
<div style="float: left; width: 404px; padding-left: 16px;">
    <p>{{ strings.deletingWillRemoveDefinitionAndData }}</p>
    <p><strong>{{ strings.cannotBeUndone }}</strong></p>
    <p>{{ strings.doYouReallyWantDelete }}</p>
</div>