<div class="wrap">
    {% block heading %}
        <h1>{% block title %}{% endblock %}</h1>
    {% endblock %}

    <div id="types-page-content">{% block content %}{% endblock %}</div>

    {% block footer %}{% endblock %}
</div>