a.js-wpv-fields-and-views-in-adminbar {
    display: none;
    position: absolute;
    top: 12px;
    left: -10px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align:center;
    background: #f05a29;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none !important;
}

#colorbox {
/* not me, who started with these high z-index numbers */
z-index: 9999999 !important;
}