{% if description.target and description.label %}
    <p class="types-information-link">
        <a{% if description.class or description.external %} class="{{ description.class }}{% if description.external %} types-external-link{% endif %}"{% endif %} href="{{ description.target }}"{% if description.external %} target="_blank"{% endif %}>{{ description.label }}</a>
    </p>
{% endif %}